In [2]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [3]:
travel_csv = "Resources/Travel_by_month.csv"
travel_df =pd.read_csv(travel_csv)
travel_df.head(30)

,Date,Number of Trips 1-3 (Sum),Number of Trips 3-5 (Sum),Number of Trips 5-10 (Sum),Number of Trips 10-25 (Sum),Number of Trips 25-50 (Sum),Number of Trips 50-100 (Sum)
0,Jan-19,"26,834,466,455","12,952,315,594","15,950,096,166","15,199,029,960","5,076,183,145","1,676,952,407"
1,Feb-19,"24,347,566,662","11,870,026,967","14,719,257,863","14,093,668,108","4,715,357,077","1,572,076,828"
2,Mar-19,"30,942,105,172","14,991,418,422","18,737,410,376","18,267,432,391","5,967,630,335","1,902,728,755"
3,Apr-19,"33,425,468,112","16,067,286,787","20,196,735,426","20,041,766,804","6,405,800,428","1,924,130,243"
4,May-19,"34,318,175,900","16,488,446,849","20,778,297,665","20,303,221,871","6,116,174,341","1,740,648,434"
5,Jun-19,"33,144,615,919","15,826,367,634","20,107,819,242","19,982,403,330","6,120,145,714","1,736,008,631"
6,Jul-19,"34,073,651,703","16,608,557,358","21,445,182,698","21,400,512,787","6,470,530,864","1,780,450,737"
7,Aug-19,"34,682,611,907","17,029,842,787","21,904,879,064","21,703,307,957","6,504,577,940","1,776,071,341"
8,Sep-19,"33,672,680,754","16,612,759,623","21,312,780,831","21,186,318,598","6,308,923,522","1,690,127,364"
9,Oct-19,"31,071,467,186","15,748,293,509","20,445,722,197","20,789,971,887","6,074,019,393","1,522,017,494"
10,Nov-19,"28,334,410,351","14,395,285,626","18,791,598,160","19,279,300,454","5,690,106,002","1,477,440,539"
11,Dec-19,"28,968,641,652","15,038,591,846","19,634,293,875","20,085,274,236","5,929,457,350","1,554,529,071"
12,Jan-20,"27,689,367,712","13,480,518,760","16,724,074,514","16,069,933,527","5,269,329,583","1,651,780,349"
13,Feb-20,"26,007,228,864","12,810,046,338","15,924,205,821","15,233,179,540","5,100,930,900","1,737,396,262"
14,Mar-20,"24,857,541,535","11,746,893,256","14,526,283,495","14,078,508,944","4,824,958,353","1,748,594,321"
15,Apr-20,"20,982,977,213","9,583,674,598","11,626,388,433","11,070,948,550","3,669,636,390","1,245,141,789"
16,May-20,"24,461,560,792","11,606,606,575","14,184,874,604","13,540,150,217","4,571,208,532","1,629,321,843"
17,Jun-20,"22,671,253,217","10,898,185,154","13,558,901,170","13,202,851,291","4,630,115,429","1,745,496,993"
18,Jul-20,"20,807,635,851","10,239,560,584","12,976,621,116","12,859,061,646","4,619,804,539","1,816,183,459"
19,Aug-20,"21,051,541,075","10,419,161,814","13,261,067,996","13,309,000,479","4,856,102,257","1,918,735,567"
20,Sep-20,"20,951,060,359","10,269,023,767","13,096,005,542","13,219,216,491","4,800,160,504","1,822,368,719"
21,Oct-20,"21,314,021,202","10,498,495,337","13,345,466,667","13,336,836,737","4,946,974,248","1,983,008,976"
22,Nov-20,"22,253,732,526","10,616,468,143","13,004,322,966","12,546,441,391","4,545,243,076","1,863,185,656"
23,Dec-20,"21,669,354,190","10,547,781,014","13,159,712,424","13,060,505,417","4,810,858,996","2,029,866,503"
24,Jan-21,"22,658,132,944","11,370,698,350","14,177,729,076","13,349,764,977","4,295,396,592","1,472,786,316"
25,Feb-21,"22,835,193,783","11,610,572,951","14,668,380,848","13,932,861,795","4,405,884,928","1,457,490,541"
26,Mar-21,"28,082,956,933","14,338,329,672","18,118,048,207","17,028,089,749","5,448,708,653","1,855,923,086"
27,Apr-21,"28,287,090,654","14,450,137,094","18,327,732,479","17,149,295,086","5,417,431,365","1,842,820,999"
28,May-21,"27,739,714,292","14,139,961,656","17,924,642,640","16,679,963,394","5,281,553,500","1,829,202,041"
29,Jun-21,"26,724,972,550","13,653,096,858","17,389,729,246","16,302,742,266","5,185,468,900","1,776,516,367"

In [4]:
wfh_wfo_csv = "Resources/WFM_vs_WFO.csv"
wfh_wfo_df = pd.read_csv(wfh_wfo_csv)
wfh_wfo_df.head(30)

,Date,Population Staying at Home (Sum),Population Not Staying at Home (Sum)
0,Jan-19,"5,859,975,484","24,537,519,163"
1,Feb-19,"5,207,503,173","22,248,342,237"
2,Mar-19,"5,872,201,489","24,525,157,734"
3,Apr-19,"5,774,928,693","23,641,311,715"
4,May-19,"5,775,248,495","24,622,036,668"
5,Jun-19,"5,671,275,146","23,745,369,996"
6,Jul-19,"5,908,602,576","24,487,847,624"
7,Aug-19,"5,591,569,586","24,805,389,091"
8,Sep-19,"5,677,692,486","23,737,905,385"
9,Oct-19,"6,022,569,361","24,366,016,748"
10,Nov-19,"5,862,464,610","23,547,151,071"
11,Dec-19,"6,179,851,026","24,210,422,340"
12,Jan-20,"6,207,513,193","24,252,206,401"
13,Feb-20,"5,560,894,704","22,933,688,518"
14,Mar-20,"7,302,306,816","23,157,432,445"
15,Apr-20,"8,259,854,410","21,217,267,006"
16,May-20,"7,177,542,571","23,282,169,528"
17,Jun-20,"6,772,142,467","22,704,711,513"
18,Jul-20,"7,595,240,647","22,863,855,871"
19,Aug-20,"7,527,089,753","22,932,473,645"
20,Sep-20,"7,590,307,936","21,886,010,882"
21,Oct-20,"7,863,643,747","22,596,032,851"
22,Nov-20,"8,509,084,093","20,967,796,907"
23,Dec-20,"8,810,040,724","21,649,408,899"
24,Jan-21,"7,935,852,235","22,523,426,620"
25,Feb-21,"6,639,963,964","20,871,771,613"
26,Mar-21,"6,495,308,974","24,005,177,876"
27,Apr-21,"6,181,463,494","23,359,428,755"
28,May-21,"6,652,029,493","23,873,336,537"
29,Jun-21,"6,428,676,889","23,112,093,968"

In [5]:
protocol = 'postgresql'
username = 'postgres'
password = password
host = 'localhost'
port = 5432
database_name = 'Project-2'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [6]:
engine.table_names()

C:\Users\Hannah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['rws_2020', 'rws_2021', 'rws_comb']

In [11]:
travel_df.to_sql(name='Travel', con=engine, if_exists='append', index=False)

In [7]:
wfh_wfo_df.to_sql(name='WFH_vs_WFO', con=engine, if_exists='append', index=False)

In [8]:

engine.table_names()

C:\Users\Hannah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['rws_2020', 'rws_2021', 'rws_comb', 'WFH_vs_WFO']

In [9]:
pd.read_sql_query('select * from Travel', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "travel" does not exist
LINE 1: select * from Travel
                      ^

[SQL: select * from Travel]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [10]:
pd.read_sql_query('select * from WFH_vs_WFO', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "wfh_vs_wfo" does not exist
LINE 1: select * from WFH_vs_WFO
                      ^

[SQL: select * from WFH_vs_WFO]
(Background on this error at: https://sqlalche.me/e/14/f405)